body{
  margin : 0;
  height : 100%;
  /*
  background-image : url(icons/mountains-black-with-pink-sky.jpg);
  background-position : center;
  background-repeat : no-repeat;
  background-attachment : fixed;
  background-size : cover;
  overflow-y : auto;
  */
  background-color : black;
}
html{
  height : 100%;
}